/* Estilos gerais */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: black;
    color: blue;
}

header,
footer {
    text-align: center;
    background-color: rgb(219, 126, 20);
    color: blueviolet;
    padding: 20px 0;
}

/* Grid principal*/

.conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 150px 150px 150px;
    padding: 20px;
    gap: 15px;
    margin: 20px auto;
    background-color: rgb(16, 185, 72);
    max-width: 900px;
    border-radius: 8px;
}

/* iteins do Grid*/

.item {
    background-color: rgb(185, 221, 25);
    color: brown;
    font-size: 24px;
    font-weight: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Posicionamento manual*/

.item1 {
    background-color: rgb(211, 13, 13);
    grid-column: 1/3;
    grid-row: 1/2;
}

.item2 {
    background-color: rgb(231, 33, 188);
    grid-column: 3/3;
    grid-row: 1/3;
}

.item3 {
    background-color: lightcoral;
    grid-column: 1/3;
    grid-row: 1/2;
}

.item4 {
    background-color: hotpink;
    grid-column: 1/3;
    grid-row: 2/2;
}