html{
    font-size: 16px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 1,5em;
    width: 90%;
}

.box{
    width: 20vw;
    height: 20vh;
    background-color: aqua;
    margin: 20px auto;
}