* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    overflow: auto;
}

.caixa {
    width: 50%;
    height: 150px;
    background-color: blue;
    color: brown;
    text-align: center;
    line-height: 150px;
    margin: 10px;
}

.esquerda {
    float: left;
}

.direita {
    float: right;
}

p{
    display: block;
    clear: both;
}