.body
{
    background-color: rgb(163, 240, 240);

}

h1
{
    justify-content:center;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img
{
    width: 200px;
    height: 200px;
    border: 20px solid black;
    border-radius: 30px;
    
}

div
{
    justify-content: center;
    display: flex;
}

h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content:center;
    display: flex;
}

p
{
    justify-content:center;
    display: flex;
    background-color:aquamarine;
    border: 2px solid black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    justify-content:center;
    background-color:aquamarine;
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}