.navegação {
    padding: 5px;
    margin: 5px;
    justify-content:center;
    display: flex;
    
}

.body{
    background-color: rgb(187, 130, 240);
}
.menu {

    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    background-color:blueviolet;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div1
{
    display:flex;
    justify-content: center; 

}


.imag1 {
    
    width: 600px;
    height: 300px;
    border: 20px solid black;
    border-radius: 30px;
}

.primeiro-paragrafo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
}

.Beybey{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px;
    margin: 25px;
    background-color: blueviolet;
    border: 2px solid black;
    font-size: 20px;
    
}